<div class='header-container'>
  <div class='header'>
    <h1>Rae</h1>
  </div>
</div>

<div class='content-container'>
  <div class='intro-container'>
    <div class='image-container intro-image-container'>
      <img
        src='/images/rae-intro.jpg'
        alt='Cockatiel amiguruimi'
        class='intro-image'
      />
    </div>

    <p>
      Make you an amigurumi cockatiel friend.
    </p>
  </div>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Materials
    </h3>
  </div>

  <section>
    <p>
      This pattern is designed for <strong>Medium</strong> weight yarn.
      You'll need:
    </p>
    <ul>
      <li>Yellow</li>
      <li>Gray</li>
      <li>White</li>
      <li>Orange</li>
      <li>Cream (skin tone)</li>
    </ul>

    <p>You'll also need:</p>
    <ul>
      <li>Black 5mm safety eye x 2</li>
      <li>Batting to stuff the body</li>
    <ul>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Parts
    </h3>
  </div>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Head & Body
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Yellow</strong>.</p>
    </div>

    <% data.head_body.head_body_1.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>

    <div class='parts-instruction'>
      <p>Switch to <strong>Gray</strong>.</p>
    </div>

    <% data.head_body.head_body_2.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Cheeks
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Orange</strong>.</p>
    </div>

    <% data.cheek.cheek.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Over-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <% data.over_wing.over_wing.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Under-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <% data.under_wing.under_wing_1.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>

    <div class='parts-instruction'>
      <p>Switch to <strong>White</strong>.</p>
    </div>

    <% data.under_wing.under_wing_2.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Large feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <% data.large_feather.large_feather.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Small feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <% data.small_feather.small_feather.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Finishing</h3>
  </div>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Wings
      </h4>
    </div>

    <p>
      Fold under-wing in half. Sew together flat along the edge.
    </p>

    <p>
      Sew over-wing onto one side of under-wing, leaving a little overlap.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-1.jpg'
          alt='Outside wing view'
          height=160px
        />
      </div>
    </div>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-2.jpg'
          alt='Inside wing view'
          height=160px
        />
      </div>
    </div>

    <p>
      Make a pair with opposing layouts for left and right wing.
    </p>


    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-3.jpg'
          alt='Opposing wings view'
          height=160px
        />
      </div>
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Tail
      </h4>
    </div>

    <p>
      Sew small feather to body side by side.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-1.jpg'
          alt='Small feather placement'
          height=160px
        />
      </div>
    </div>

    <p>
      Sew large feather one or two rows above small feathers, centered.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-2.jpg'
          alt='Large feather placement'
          height=160px
        />
      </div>
    </div>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-3.jpg'
          alt='Tail feather finished'
          height=160px
        />
      </div>
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Eyes
      </h4>
    </div>

    <div>
      <strong>Note:</strong> Finish eyes while crocheting the head and body.
    </div>

    <p>
      Between 8th and 9th rows. 8 st between. The center 4 st will be the beak.
      See figure.
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Beak
      </h4>
    </div>

    <p>
      TBD
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Cheeks
      </h4>
    </div>

    <p>
      Sew on behind and lower than both eyes.
    </p>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Abbreviations</h3>
  </div>

  <section>
    <div class='abbreviation-row'>
      <div class='abbreviation'>st</div>
      <div class='abbreviation-definition'>stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sl</div>
      <div class='abbreviation-definition'>slip stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc</div>
      <div class='abbreviation-definition'>single crochet</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc2tog</div>
      <div class='abbreviation-definition'>
        single crochet 2 together, decrease
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>magic ring</div>
      <div class='abbreviation-definition'>
        <a
          href="https://www.youtube.com/watch?v=sLUaywX0-WE"
          target="_blank"
        >
          tutorial here
        </a>
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>tie off</div>
      <div class='abbreviation-definition'>fasten or finish off</div>
    </div>
  </section>
</div>

<div class='footer-container'>
  <div class='footer'>
    <h1>Rae</h1>

    <p class='footer-disclosure'>
      Remember! Always hold birb gentle like hamburger.
    </p>
  </div>
</div>
