<div class='header-container'>
  <div class='header'>
    <h1>Rae</h1>
  </div>
</div>

<div class='content-container'>
  <div class='intro-container'>
    <div class='image-container intro-image-container'>
      <img
        src='/images/hero-1.jpg'
        alt='Cockatiel amiguruimi'
        class='intro-image'
      />
    </div>

    <p>
      Make you an amigurumi cockatiel friend.
    </p>
  </div>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Materials
    </h3>
  </div>

  <section>
    <p>
      This pattern is designed for <strong>Medium</strong> weight yarn.
      You'll need:
    </p>
    <ul>
      <li>Yellow</li>
      <li>Gray</li>
      <li>White</li>
      <li>Orange</li>
      <li>Cream (skin tone)</li>
    </ul>

    <p>You'll also need:</p>
    <ul>
      <li>Black 10mm safety eye x 2</li>
      <li>Batting to stuff the body</li>
    <ul>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Parts
    </h3>
  </div>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Head & Body
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Yellow</strong>.</p>
    </div>

    <% data.head_body.head_body_1.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>

    <div class='parts-instruction'>
      <p>
        <a href='#finishing-eyes'>Attach safety eyes</a> now before continuing.
      </p>
      <p>
        Switch to <strong>Gray</strong>.
      </p>
    </div>

    <% data.head_body.head_body_2.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Cheeks
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Orange</strong>.</p>
    </div>

    <% data.cheek.cheek.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Over-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <% data.over_wing.over_wing.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Under-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <% data.under_wing.under_wing_1.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>

    <div class='parts-instruction'>
      <p>Switch to <strong>White</strong>.</p>
    </div>

    <% data.under_wing.under_wing_2.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Large feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <% data.large_feather.large_feather.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Small feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <% data.small_feather.small_feather.each_with_index do |line, i| %>
      <div class='pattern-row <%= 'even' if i.even? %>'>
        <div class='pattern-round'>
          <%= line.round %>
        </div>
        <div class='pattern-instructions'>
          <%= line.instruction %>
        </div>
        <div class='pattern-count'>
          (<%= line.stitch_count %>)
        </div>
      </div>
    <% end %>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Finishing</h3>
  </div>

  <section>
    <div class='finishing-header-container'>
      <h4 id='finishing-eyes' class='finishing-header'>
        Eyes
      </h4>
    </div>

    <p>
      Attach between 8th and 9th rows. Fasten on first eye. Count 9 st and
      fasten second eye. There should be 8 st between the eyes. The center
      stitches, 4 and 5, are where the beak is sewn on.
    </p>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/finishing-eyes.jpg'
        alt='Finishing eyes'
        class='finishing-eyes-image'
      />
    </div>

    <p>
      <strong>Note:</strong> Finish eyes while crocheting the head and body.
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Beak
      </h4>
    </div>

    <p>
      With <strong>Cream</strong> yarn, tie onto the middle stitches between
      the eyes. Loop through a stitch 3 rows below. Loop back through the eyes
      row. Continue looping loosely between these 2 rows, building up a 
      triangle beak.
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Wings
      </h4>
    </div>

    <p>
      Fold under-wing in half. Sew together flat along the edge.
    </p>

    <p>
      Sew over-wing onto one side of under-wing, leaving a little overlap.
    </p>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/finishing-wings-1.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>


    <div class='finishing-eyes-image-container'>
      <img
        src='/images/finishing-wings-2.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>

    <p>
      Make a pair with opposing layouts for left and right wing.
    </p>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/finishing-wings-3.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Tail
      </h4>
    </div>

    <p>
      Sew small feather to body side by side.
    </p>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/rae-tail-1.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>

    <p>
      Sew large feather one or two rows above small feathers, centered.
    </p>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/rae-tail-2.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>

    <div class='finishing-eyes-image-container'>
      <img
        src='/images/rae-tail-3.jpg'
        alt='Finishing wing'
        class='finishing-eyes-image'
      />
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Cheeks
      </h4>
    </div>

    <p>
      Sew on behind and lower than both eyes.
    </p>
 
  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Crest
      </h4>
    </div>

    <p>
      Cut 3 pieces of <strong>Yellow</strong> yarn, each about 12 cm long.
      Work each piece into the body between the 2 and 3 rows above the beak.
    </p>

    <p>
      For a light, feathery look, distress the ends of each piece with a stiff
      brush.
    </p>
  </section>
 </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Abbreviations</h3>
  </div>

  <section>
    <div class='abbreviation-row'>
      <div class='abbreviation'>st</div>
      <div class='abbreviation-definition'>stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sl</div>
      <div class='abbreviation-definition'>slip stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc</div>
      <div class='abbreviation-definition'>single crochet</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc2tog</div>
      <div class='abbreviation-definition'>
        single crochet 2 together, decrease
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>magic ring</div>
      <div class='abbreviation-definition'>
        <a
          href="https://www.youtube.com/watch?v=sLUaywX0-WE"
          target="_blank"
        >
          tutorial here
        </a>
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>tie off</div>
      <div class='abbreviation-definition'>fasten or finish off</div>
    </div>
  </section>
</div>

<div class='footer-container'>
  <div class='footer'>
    <h1>Rae</h1>

    <p class='footer-disclosure'>
      Remember! Always hold birb gentle like hamburger.
    </p>
  </div>
</div>
